.mfe__container {
    max-width: 1280px!important;
    margin: 0 auto!important;
    padding: 2rem!important;
    text-align: center!important;
    background-color: darkslategray!important;
    color: white!important;
    font-family: fantasy;
    font-size: xx-large;
    font-weight: 900;
}
